<!DOCTYPE html>
<html>
<head>
    <title>Speech to Text and Text to Speech</title>
</head>
<body>
    <h1 style="text-align: center;">Speech to Text and Text to Speech</h1>
    
    <h2>Record audio</h2>
    <button id="record">Record audio</button>
    <button id="stop" disabled>Stop</button>
    <span id="timer">00:00</span>
    <audio id="audio" controls style="display: block; margin-top: 10px;"></audio>
    
    <form id="uploadForm" method="POST" enctype="multipart/form-data" style="margin-top: 10px;">
        <input type="hidden" name="audio_data" id="audioData">
    </form>
    
    <h3>Recorded Files</h3>
    <ul>
        {% for file in files %}
        <li>
            <audio controls>
                <source src="{{ url_for('uploaded_file', folder='recorded', filename=file) }}">
                Your browser does not support the audio element.
            </audio><br>
            {{ file }}
            <a href="{{ url_for('uploaded_file', folder='recorded', filename=file) }}.txt">{{ file }}.txt</a>
        </li>
        {% endfor %}
    </ul>
    
    <hr>

    <h2>Type text to speech audio</h2>
    <form action="/upload_text" method="post">
        <textarea name="text" rows="10" cols="50" placeholder="Type your text here"></textarea>
        <br>
        <input type="submit" value="Upload">
    </form>
    
    <h3>Generated Audio (TTS)</h3>
    <ul>
        {% for file in tts_files %}
        <li>
            <audio controls>
                <source src="{{ url_for('uploaded_file', folder='texttospeech', filename=file) }}" type="audio/wav">
                Your browser does not support the audio element.
            </audio><br>
            {{ file }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
